In [1]:
#importaciones
import pandas as pd

#variables 
set_parameter = {
    'sep': ',',
    'encoding': 'ISO-8859-1',
    'low_memory': False
}

data = pd.read_csv('data/merge_train.csv', **set_parameter)
data.head(5)

,Unnamed: 0,ID_SEC,TARGET_VTAMOV,CODSUBSEGMENTO,PERFIL_TACTICO,PERFIL_DIGITAL,FLGSEXO,TIPESTCIVIL,TIPNIVELEDUCACIONAL,TIPSITUACIONLABORAL,...,RCC_D_TC,RCC_D_TOTAL,TRX_VEN,TRX_HBK,TRX_BMO,TRX_DIG,TOTALTRX,TRX_DIG_MON,TRX_DIG_NOMON,TOTALTRX_MON
0,0,1,0,X1N,ENALTA,DIG MON,M,SOL,BAC,DEP,...,40428.78,1247875.94,6,234,8,242,267,57,185,82
1,1,2,0,M1N,CONSUMO,DIG MON,F,SOL,LIC,DEP,...,7905.50,27905.50,3,14,0,14,53,2,12,38
2,2,3,0,X1N,EXCLUSIVO ALTO POTENCIAL,DIG MON,F,CAS,BAC,DEP,...,4970.24,4970.24,2,13,45,58,79,13,45,34
3,3,4,0,X1N,EXCLUSIVO,DIG MON,F,CAS,BAC,NDI,...,36611.01,51800.04,2,0,290,290,314,18,272,35
4,4,5,0,M1N,CONSUMO,DIG MON,F,SOL,TEC,IND,...,NaN,NaN,0,0,83,83,87,11,72,15

In [2]:
def get_memory_usage(data):
    return '{} MB'.format(data.memory_usage(deep=True).sum() / 1024 ** 2)

get_memory_usage(data)

'189.28743743896484 MB'

In [3]:
import numpy as np
def reduce_size_data(df, save=True, new_name='data_qroma_train_reduce.csv'):
    for col in df.select_dtypes(include=['int']).columns:
        df[col] = df[col].apply(pd.to_numeric, downcast='integer')
 
    for col in df.select_dtypes(include=['float']).columns:
        df[col] = df[col].apply(pd.to_numeric, downcast='float')

    for col in df.select_dtypes(include=['object']).columns:
        if len(df[col].unique()) / len(df[col]) < 0.5:
            df[col] = df[col].astype('category')
    
reduce_size_data(data)
get_memory_usage(data)

'70.02588272094727 MB'